In [14]:
import pandas as pd

#Originales

X_train_sel_con=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/X_train_sel_con.csv")
X_test_sel_con=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/X_test_sel_con.csv")
X_train_sel_sin=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/X_train_sel_sin.csv")
X_test_sel_sin=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/X_test_sel_sin.csv")

# Normalizados

X_train_norm_sel_con=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/X_train_norm_sel_con.csv")
X_test_norm_sel_con=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/X_test_norm_sel_con.csv")
X_train_norm_sel_sin=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/X_train_norm_sel_sin.csv")
X_test_norm_sel_sin=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/X_test_norm_sel_sin.csv")
X_train_scal_sel_con=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/X_train_scal_sel_con.csv")
X_test_scal_sel_con=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/X_test_scal_sel_con.csv")
X_train_scal_sel_sin=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/X_train_scal_sel_sin.csv")
X_test_scal_sel_sin=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/X_test_scal_sel_sin.csv")

# Y

y_train=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/y_train.csv")
y_test=pd.read_csv("/workspaces/Regresi-n-Lineal/data/processed/y_test.csv")

In [15]:
X_test_norm_sel_con.head()

   smoker_n  children     Sex_n       bmi
0  0.508747  0.734336 -1.024602 -0.891539
1  0.508747 -0.911192 -1.024602 -0.089461
2 -1.965613 -0.911192 -1.024602 -0.608453
3  0.508747  1.557100  0.975989 -0.797177
4 -1.965613 -0.911192  0.975989  0.225079

In [16]:
y_train.head()

       charges
0   9193.83850
1   8534.67180
2  27117.99378
3   8596.82780
4  12475.35130

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score, root_mean_squared_error



dfs_x_train=[
    X_train_norm_sel_con,
    X_train_norm_sel_sin,
    X_train_scal_sel_con,
    X_train_scal_sel_sin
    ]

dfs_x_test=[
    X_test_norm_sel_con,
    X_test_norm_sel_sin,
    X_test_scal_sel_con,
    X_test_scal_sel_sin
    ]

results = []

for df_index in range(len(dfs_x_train)):
  model = LinearRegression()
  train_df = dfs_x_train[df_index]
  model.fit( train_df, y_train)
  y_train_pred = model.predict(train_df)
  y_test_pred = model.predict(dfs_x_test[df_index])

  results.append(

    {
      'index':df_index,
      'Coef':model.coef_,
      'MAE': mean_absolute_error(y_test, y_test_pred).round(2),
      'RMSE': round(root_mean_squared_error(y_test, y_test_pred),2),
      "R2_score": r2_score(y_test, y_test_pred)
    }
    )


sorted(results, key = lambda x: x["R2_score"], reverse = True)

[{'index': 0,
  'Coef': array([[-9371.70925068,   745.14292121,   -31.65265737,  2407.11080704]]),
  'MAE': np.float64(5494.52),
  'RMSE': np.float64(6890.89),
  'R2_score': 0.6941405199447264},
 {'index': 1,
  'Coef': array([[-9371.70925068,   745.14292121,   -31.65265737,  2407.11080704]]),
  'MAE': np.float64(5494.52),
  'RMSE': np.float64(6890.89),
  'R2_score': 0.6941405199447264},
 {'index': 2,
  'Coef': array([[-23188.98720457,   3065.38454536,    -63.32401216,
           14811.92039759]]),
  'MAE': np.float64(5494.52),
  'RMSE': np.float64(6890.89),
  'R2_score': 0.6941405199447264},
 {'index': 3,
  'Coef': array([[-23188.98720457,   3065.38454536,    -63.32401216,
           14811.92039759]]),
  'MAE': np.float64(5494.52),
  'RMSE': np.float64(6890.89),
  'R2_score': 0.6941405199447264}]

In [32]:
results

[{'index': 0,
  'Coef': array([[-9371.70925068,   745.14292121,   -31.65265737,  2407.11080704]]),
  'MAE': np.float64(5494.52),
  'RMSE': np.float64(6890.89),
  'R2_score': 0.69414},
 {'index': 1,
  'Coef': array([[-9371.70925068,   745.14292121,   -31.65265737,  2407.11080704]]),
  'MAE': np.float64(5494.52),
  'RMSE': np.float64(6890.89),
  'R2_score': 0.69414},
 {'index': 2,
  'Coef': array([[-23188.98720457,   3065.38454536,    -63.32401216,
           14811.92039759]]),
  'MAE': np.float64(5494.52),
  'RMSE': np.float64(6890.89),
  'R2_score': 0.69414},
 {'index': 3,
  'Coef': array([[-23188.98720457,   3065.38454536,    -63.32401216,
           14811.92039759]]),
  'MAE': np.float64(5494.52),
  'RMSE': np.float64(6890.89),
  'R2_score': 0.69414}]

In [23]:
X_train_norm_sel_con.head()

   smoker_n  children     Sex_n       bmi
0  0.508747  0.734336 -1.024602 -1.756525
1  0.508747 -0.911192 -1.024602 -1.033082
2  0.508747 -0.911192 -1.024602 -0.943687
3  0.508747  3.202629 -1.024602  0.622393
4  0.508747  1.557100 -1.024602 -1.504893

In [24]:
X_test_scal_sel_con.head()

   smoker_n  children  Sex_n       bmi
0       1.0       0.4    0.0  0.247915
1       1.0       0.0    0.0  0.378262
2       0.0       0.0    0.0  0.293920
3       1.0       0.6    1.0  0.263250
4       0.0       0.0    1.0  0.429379